
/dts-v1/;
#include "cs75xx.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "ELECOM NSB-3NR/3MS Network-Attached Storage series";

	memory {
		device_type = "memory";
		reg = <0x00000000 0x40000000>; /* 1GB */
	};

#if 0
	chosen {
		bootargs = "console=ttyS0,115200 loglevel=8";
	};
#endif

#if 0
	alias {
		i2c0 = &i2c0;
		i2c1 = &i2c1;
	};
#endif

	leds {
		compatible = "gpio-leds";
		info {
			label = "info";
			gpios = <&gpio2 20 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};
		error {
			label = "error";
			gpios = <&gpio1 22 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
		hdd {
			label = "hdd";
			gpios = <&gpio1 21 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};
	};

	buttons {
		compatible = "gpio-keys";
		display {
			label = "Display";
			gpios = <&gpio2 16 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_0>;
		};
		function {
			label = "Function";
			gpios = <&gpio2 15 GPIO_ACTIVE_LOW>;
			linux,code = <BTN_1>;
		};
		init {
			label = "Init";
			gpios = <&gpio1 5 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
		};
	};

	i2c0: i2c@0 {
		compatible = "i2c-gpio";
		gpios = <&gpio1 8 GPIO_ACTIVE_HIGH	/* SDA */
			 &gpio1 9 GPIO_ACTIVE_HIGH	/* SCL */
			>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;

		hwmon@4d {
			compatible = "amc6821";
			reg = <0x4d>;
		};
	};
	i2c1: i2c@1 {
		compatible = "i2c-gpio";
		gpios = <&gpio2 3 GPIO_ACTIVE_HIGH	/* SDA */
			 &gpio2 2 GPIO_ACTIVE_HIGH	/* SCL */
			>;
		i2c-gpio,delay-us = <2>;
		#address-cells = <1>;
		#size-cells = <0>;

		/* connected OLED as 0x3C */
	};
};

/* board specific initial values of GPIO_MUXn */
&gpio0 {
	mux-initval = <0x00000000>;
};
&gpio1 {
	mux-initval = <0x00000000>;
};
&gpio2 {
	mux-initval = <0xFFFFFFFF>;
};
&gpio3 {
	mux-initval = <0x00000000>;
};
&gpio4 {
	mux-initval = <0xFFFFFFFF>;
};

&rtc0 {
	status = "ok";
};

&arm_wdt {
	status = "ok";
};

#if 0
&soc_i2c {
	clock-frequency = <100000>;
	status = "ok";
};
#endif

&nandc {
	status = "ok";
};

&ether {
	status = "ok";

	mdio {
		phy0: ethernet-phy@1 {
			reg = <1>;
		};
	};
};
