
#include "skeleton.dtsi"
#include <dt-bindings/clock/cs75xx-clock.h>
#include <dt-bindings/interrupt-controller/arm-gic.h>
/ {
	compatible = "cortina,cs75xx";

	aliases {
		serial0 = &uart0;
	};

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;

		cpu@0 {
			device_type = "cpu";
			compatible = "arm,cortex-a9";
			reg = <0>;
		};
		cpu@1 {
			device_type = "cpu";
			compatible = "arm,cortex-a9";
			reg = <1>;
		};
	};

	amba: amba {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <1>;
		interrupt-parent = <&gic>;
		ranges;

		gic: interrupt-controller@F8001000 {
			compatible = "arm,cortex-a9-gic";
			#interrupt-cells = <3>;
			interrupt-controller;
			reg = <0xF8001000 0x1000>,
			      <0xF8000100 0x0100>;
			status = "ok";
		};

		l2: l2-cache-controller@F5010000 {
			compatible = "arm,pl310-cache";
			reg = <0xF5010000 0x1000>;
			cache-unified;
			cache-level = <2>;
			status = "ok";
		};


		mainclk: clock@F000000C {
			compatible = "cortina,cs75xx-clk";
			reg = <0xF000000C 0x04>;	/* global strap */
			#clock-cells = <1>;
		};

		global_timer: timer@F8000200 {
			compatible = "arm,cortex-a9-global-timer";
			interrupt-parent = <&gic>;
			reg = <0xF8000200 0x20>;
			interrupts = <GIC_PPI 11 IRQ_TYPE_EDGE_RISING>;
			clocks = <&mainclk CS75XX_CLK_APB>;
		};

		scutimer: scu_timer@F8000600 {
			compatible = "arm,cortex-a9-twd-timer";
			interrupt-parent = <&gic>;
			reg = <0xF8000600 0x20>;
			interrupts = <GIC_PPI 13 IRQ_TYPE_EDGE_RISING>;
			status = "ok";
		};

		uart0: serial@F0070110 {
			compatible = "cortina,cs75xx-uart";
			reg = <0xF0070110 0x30>;
#if 0
			interrupts = <GIC_SPI 22 4>;
#else
			interrupts = <GIC_SPI 38 4>;
#endif
			status = "ok";
			clocks = <&mainclk CS75XX_CLK_APB>;
		};
	};
};
