
/dts-v1/;
#include "cs75xx.dtsi"

/ {
	model = "ELECOM NSB-3NR/3MS Network-Attached Storage series";

	memory {
		device_type = "memory";
		reg = <0x00000000 0x40000000>; /* 1GB */
	};

	chosen {
#if 1
		bootargs = "console=ttyS0,115200 loglevel=8";
#else
		bootargs = "console=ttyS0,115200 lpj=7970816";
#endif
	};
};
